html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
/*ol,ul{list-style:none}*/
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
body{
  padding:2% 10%;
  font-family: 'liberation', sans-serif;
  font-size: 28px;
  line-height: 1.4em;
  hyphens: auto;
  background: red;
  color:white;
  display: flex;
  flex-wrap: wrap;
}
body header>h1 a{
  font-family: cormorant;
  font-weight: bold;
  font-size: 1.5em;
  color:white;
}
body header>h2{
  font-size:
}
body>header, body>footer{
  flex:1 1 100%;
  display: flex;
  margin:0 0 20px 0;
  justify-content: space-between;
}
.list{
  flex:1 1 100%;
  display: flex;
  flex-direction: column;
}
.book{
  flex:1 1 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.2em;
}
body.lastfirst .list{
  flex-direction: column-reverse;
}
.post{
  flex:1 1 100%;
  background: white;
  padding:20px;
  margin-bottom:20px;
  border-radius: 10px;
  color:black;
}
.list .post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
}
.list .post:hover{
  color:black;
}
.list .post img{
  width:100px;
  height:auto;
}
.attachment{
  border:2px solid red;
}
h1,h2,h3{
  margin-bottom:20px;
}
a{
  color:black;
  text-decoration: none;
  transition: .1s all linear;
}
a:hover{
  color:black;
}
a:visited{
  /*color:red;*/
}
.button{
  padding:5px 15px;
  font-size: 1.5em;
  color:white;
  display: inline-block;
  border-radius: 10px;
  transition: all .2s ease;
  cursor: pointer;
}
.button:hover{
  background: white;
  color:red;
}
.post img{
  max-width: 100%;
  height: auto;
}
blockquote{
  padding:3px;
  border:1px solid black;
}
p{
  margin-bottom:20px;
}
i, em{
  font-style: italic;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}


:-moz-any-link:focus, a:active {text-decoration: none; outline:0;}
::selection {background:black; color:white;}
::-moz-selection {background:black; color:white;}
