html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
/*ol,ul{list-style:none}*/
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
body{
  font-family: "cormorant", serif;
  font-size: 11pt;
  line-height: 1.4em;
  hyphens: auto;
  background: white;
  color:black;
  display: flex;
  flex-wrap: wrap;
  line-height: 120%;
  font-weight: 300;
}

body>header{
  display:none;
}

.signature{
  display: none;
}

div.book{
  width: 13.5cm;
  border: 1px solid #000;
  padding: 1cm;
}

.post{
  margin-bottom: 0.8cm;
  padding: 10px 0 0 0;
  /*padding: 0.8cm;*/
  page-break-inside: avoid;
  position: relative;
}
.post .edit{
  position: absolute;
  right:-200px;
  top:0;
}
.reload{
  position: fixed;
  right:300px;
  top:30px;
}
.post header{
  display:flex;
  align-items: center;
  page-break-after: avoid;
  margin-bottom: 0.1cm;
  page-break-inside: avoid;
}

.post header h1{
  text-transform: uppercase;
  width: 3cm;
  padding-right: .2cm;
  line-height: 130%;
  font-family: "cormorant", serif;
  margin-bottom: 0;
  page-break-after: avoid;
}

.post header .widget-list{
  width: 9cm;
  display:flex;
  page-break-after: avoid;
  page-break-inside: avoid;
}

.post header .widget-list div{
  margin-right: 0.3cm;
  /*background: lightgray;*/
  height: 0.8cm;
  padding: 0.15cm 0.2cm;
  font-size: 20px;
  page-break-after: avoid;
  page-break-inside: avoid;

}
.post .clock{
  position: relative;
  width:30px;
}
.post .clock svg{
  transform: scale(.2);
  transform-origin: top left;
  top:-5px;
  left:-5px;
  position: absolute;
}

.post .readingtime{
  position: relative;
  border:1pt dashed black;
  border-radius: 15px;
}
.post .readingtime:before{
  position: absolute;
  content: "";
  top:-10px;
  left: 0;
  width:100%;
  height:20px;
  background: url(../img/readingtime.svg) no-repeat top center;
  background-size: auto 20px;
}
.post .version{
  top:-4px;
  position: relative;
  height:33px!important;
  text-align: center;
  font-size: 13px!important;
  padding-top: 15px!important;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-family: monospace;
  transform: scale(.6,1.2);
}
.post .version:before{
  position: absolute;
  content: "V";
  font-family: "cormorant", serif;
  top:0px;
  left: 0;
  width:100%;
  height:10px;
  font-size: 1em;
  text-transform: uppercase;
}
.meteo, .avatar{
  display: none;
}
.row{
  display:flex;
  /*flex-wrap: wrap;*/
}

.post p, section.post img{
  flex:1 1 100%;
  display: block;
  page-break-inside: avoid;
  margin-top: .3cm;
}
.meta{
  width: 3cm;
  hyphens: auto;
  padding-right: .3cm;
  font-weight: 100;
  line-height: 120%;
  page-break-after: avoid;
  page-break-before: avoid;
}

.content{
  width: 9cm;
  page-break-before: avoid;
}

.row.meta-content{
  page-break-before: avoid;
}

.post.separateur .widget-list, .post.separateur h1, .post.separateur .meta{
  display: none;
}
.post.separateur .content{
  border:1px solid black;
  border-radius: 180px;
  font-family:'Cormorant Garamond';
  width:10cm;
  text-align: center;
  font-weight:300;
  line-height: 100px;
  padding:100px 0;
}
.post.separateur p{
  font-size: 120px;
  margin:0px;
  padding:0;
}
@media print{
  @page{
    size: A4;
    margin: 1cm;
    margin-bottom: 5cm;
    /*border:1px dotted black;*/
  }
  .frame{
    display: none;
  }
  .post .edit, .reload{
    display: none!important;
  }
  div.book{
    border:none;
    padding: 0;
  }
  body.book >header{
    display:none;
  }
}

h1,h2,h3{
  margin-bottom:20px;
}
a{
  color:black;
  text-decoration: none;
  transition: .1s all linear;
}
a:hover{
  color:black;
}
a:visited{
  /*color:red;*/
}
.button{
  padding:5px 15px;
  font-size: 1.5em;
  display: inline-block;
  border-radius: 10px;
  transition: all .2s ease;
  cursor: pointer;
}
.button:hover{
  background: white;
}
.post img{
  max-width: 100%;
  height: auto;
}
blockquote{
  padding:3px;
  border:1px solid black;
}
p{
  margin-bottom:20px;
}
i, em{
  font-style: italic;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}


:-moz-any-link:focus, a:active {text-decoration: none; outline:0;}
::selection {background:black; color:white;}
::-moz-selection {background:black; color:white;}
