@font-face {
    font-family: 'Cormorant';
    src: url('CormorantGaramond-Light.eot');
    src: url('CormorantGaramond-Light.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Light.woff2') format('woff2'),
        url('CormorantGaramond-Light.woff') format('woff'),
        url('CormorantGaramond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('CormorantGaramond-Bold.eot');
    src: url('CormorantGaramond-Bold.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Bold.woff2') format('woff2'),
        url('CormorantGaramond-Bold.woff') format('woff'),
        url('CormorantGaramond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('CormorantGaramond-Regular.eot');
    src: url('CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Regular.woff2') format('woff2'),
        url('CormorantGaramond-Regular.woff') format('woff'),
        url('CormorantGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('Cormorant-BoldItalic.eot');
    src: url('Cormorant-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Cormorant-BoldItalic.woff2') format('woff2'),
        url('Cormorant-BoldItalic.woff') format('woff'),
        url('Cormorant-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('CormorantGaramond-Italic.eot');
    src: url('CormorantGaramond-Italic.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Italic.woff2') format('woff2'),
        url('CormorantGaramond-Italic.woff') format('woff'),
        url('CormorantGaramond-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('CormorantGaramond-LightItalic.eot');
    src: url('CormorantGaramond-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-LightItalic.woff2') format('woff2'),
        url('CormorantGaramond-LightItalic.woff') format('woff'),
        url('CormorantGaramond-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

