    <section class="post">
      <header>
        <h1>Les fleurs</h1>
        <div class="widget-list">
          <div class="widget author">☞</div>
          <div class="widget date">❦</div>
          <div class="widget test">↗↗↗</div>
        </div>
      </header>
      <div class="row meta-content">
      <div class="meta">
        <div class="date">20/05/18 — 14h42</div>
        <div class="author">bonjour@raphaelbastide.net</div>
      </div>
      <div class="content">
        <p>Les fleurs sont belles ce matin.<br><br></p><div class="signature"> <br>RaphaÃ«l Bastide<br><a href="http://raphaelbastide.com/">raphaelbastide.com</a><br><p></p>
      </div>
    </section>
